<h1>Home</h1>
<p>Hello, this is the home page.</p>
<p>This is my toy application for the final project.</p>
<p>I turned the ordinary store into one that sells sports balls.</p> 
<p>Created by: John Hughes (March 16, 2017)</p>
<br>

<br>

